@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
body {
    /*padding-top:40px;*/
    margin: 0;
    position: relative;
    bottom: 0;
    /*background-image:url("https://cdn.pixabay.com/photo/2016/10/17/14/31/background-1747792_960_720.jpg");*/
}
.active {
    color: blue;
}

.nav {
    display: flex;
    list-style-type: none;
    margin-top: -10px;
    padding: 0;
    /*overflow: hidden;*/
    background-color: #CFD5D3;
    font-size: 150%;
    width: 100%;
    min-height: 75px;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
}

.bar li {
    /*float:left;*/
    margin-right: 50px;
}

li a {
    color: #000042;
    text-align: center;
    text-decoration: none;
    height: 50px;
    line-height: 80px;
    white-space: nowrap;
    list-style-type: none;
    margin-left: 20px;
}

li a:hover {
    color: white;
}

#section1 {
    height: 100%;
    width: 100%;
    padding-top: 25px;
}

.section {
    background: url("../images/background2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#section2 {
    height: 125vh;
    width: 100%;
    /*padding-top:75px;*/
}

/*.about {*/
/*    background: url("../images/background2.jpg");*/
/*    background-repeat: no-repeat;*/
/*    background-size: 100% 100%;*/
/*}*/

#section3 {
    height: 140vh;
    width: 100%;
    /*padding-top:75px;*/
}

/*.contact {*/
/*    background: url("../images/background2.jpg");*/
/*    background-repeat: no-repeat;*/
/*    background-size: 100% 100%;*/
/*}*/

.flex {
    /*border-style: solid;*/
    /*border-width: .25em;*/
    /*border-radius: 1.5%;*/
    /*padding: .5em;*/
    width: 20%;
    color: black;
    text-align: center;
    word-wrap: break-word;
}


/*img {*/


/*    width: 100%;*/


/*}*/

.contactsec {
    display: flex;
    /*flex-direction: column;*/
    flex-wrap: wrap;
    /*border: 5px black;*/
    justify-content: space-between;
}

.project {
    display: flex;
    width: 55%;
    justify-content: space-between;
    align-items: center;
    word-wrap: break-word;
}

.proword {
    word-wrap: break-word;
    /*width: 40%;*/
    padding:20px;
}

.projectm {
    display: flex;
    justify-content: center;
}

.teamname {
    font-size: 50px;
    color: #000042;
    text-align: center;
}

.motto {
    text-align: center;
    font-size: 25px;
    margin-top: -30px;
    color: #000042;
}

.titlesec {
    text-align: center;
    font-size: 30px;
    background-color: #000042;
    margin: 0;
    color: #CFD5D3;
    height: 50px;
    line-height: 50px;
    margin-bottom:10px;
}

.flex-face {
    width: 100%;
}

.homepic {
    width: 25%;
}

.biopic {
    width: 100%;
    height: 337.75px;
}

.homepic p {
    display: block;
    text-align: center;
}

.kallattpic {
    display: flex;
    justify-content: center;
}

.gandn {
    display: flex;
    justify-content: space-around;
}

footer {
    background-color: #CFD5D3;
    font-size: 150%;
    width: 100%;
    /*height: 25%;*/
    z-index: 12;
    position: absolute;
    /*margin-top: 20px;*/
    text-align: center;
}

.personal {
    display: flex;
}

.icon1 {
    float: right;
    bottom: 2.5em;
    position: relative;
    right: 24em;
}

a.icon1:hover {
    color: red;
}

.icon2 {
    position: relative;
    float: left;
    color: blue;
}

a.icon2:hover {
    color: SkyBlue;
}

.icon3 {
    position: relative;
    float: right;
    color: #3B5998;
}

a.icon3:hover {
    color: Lavender;
}

/*.codespace {*/
/*    position: relative;*/
/*    float: left;*/
/*}*/

.display-left {
    position: absolute;
    top: 58%;
    left: 25%;
    transform: translate(0%, -50%);
}

.display-right {
    position: absolute;
    top:58%;
    right: 25%;
    transform: translate(0%, -50%);
}

.mySlides {
    width: 50%;
    height: 400px;
}

.button {
    border: none;
    display: inline-block;
    outline: 0;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: white;
    background-color: rgb(54, 25, 25);
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    /*position: absolute;*/
    /*z-index:1000;*/

}

h4 {
    text-align: center;
    font-size: 30px;
    color:#000042;
}
p {
    font-size:20px;
}
.beliefs {
    font-size:20px;
}

/* hide the button*/

.nav-toggle{
display: none;
position: fixed;
}



/* 
4) Style nav items -- inline, no bullet points, space between
*/
.nav-item {
  display:inline;
  margin-left:20px;
}
/* 
5) Hide the button for desktop
*/


.nav-toggle {
  display: none;
  position: absolute;
  z-index: 1000;
  left:0;
  
}


@media (max-width:450px) {
  
  .nav {
    display:block;
  }
  ul .nav-item{
    display:block;
  }
  
  .nav-toggle {
    display:inline;
  }
  
  
  .mobile-nav-hidden {
    display: none;
  }
}





